.icons-rippler {
    -jfx-rippler-fill: black;
    -jfx-mask-type: CIRCLE;
}

.icons-rippler:hover {
    -fx-cursor: hand;
}

.icon-click{
    -fx-padding:5;
}

.avatar-image{
    -fx-background-radius: 6;
    -fx-background-color: #5da2ff;
    -fx-border-color: #333f50;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-font: 15 arial;
    -fx-text-fill: #333f50;
    -fx-cursor: hand;
}

.commentInput{
    -fx-text-fill: #ffffff;
    /*-fx-prompt-text-fill: #ffffff;*/
}

.username,.jfx-list-cell:selected .username{
    -fx-text-fill: #ffffff;
}

.userLevel,.jfx-list-cell:selected .userLevel{
    -fx-text-fill: #a4a3a3;
}


.jfx-list-cell:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.jfx-list-cell:selected{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.jfx-list-cell:selected .commentBubble{
    -fx-text-fill: rgb(43, 42, 42);
}



.jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0.0;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane, .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.serverCommentBubble{
    -fx-background-color: rgba(0, 0, 0, 0);
}



.jfx-snackbar-content {
    -fx-background-color: WHITE;
}

.jfx-snackbar-toast {
    -fx-text-fill: #323232;
    -fx-font-size: 12;
}